<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<div>
<%= @game.player_2.name%> HP: <%=@game.player_2.hit_points %>
</div>

<div>
<%= @game.player_1.name%>'s turn.
</div>

<form action = '/attack' method = "get">
  <input type = "submit" value = "Attack"> </input>
</form>
